streamlit
langchain
langchain-groq
langchain-community
langchain-huggingface
langchain-text-splitters
langgraph
langchain-experimental
chromadb
sentence-transformers
pypdf
python-dotenv
duckduckgo-search
ddgs
wikipedia
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pydantic